<% layout("layouts/boilerplate.ejs") -%>

<div class="row">
  <div class="col-8 offset-2">
      <h4>Make Changes in Listing</h4>
      <form method="POST" action="/listings/<%=listing._id%>?_method=PUT" novalidate class="needs-validation" enctype="multipart/form-data">

        <div class="mb-3">
          <label class="fom-label" for="title">Enter Title</label>
          <input class="form-control" name="listing[title]" value="<%=listing.title%>" type="text"  required/>
          <div class="invalid-feedback">Please enter valid input</div>
        </div>

        <div class="mb-3">
          <label class="fom-label" for="description">Description</label><br>
          <textarea name="listing[description]" rows="3" cols="70" style="border-radius: 7px;" required><%=listing.description%></textarea>
          <div class="invalid-feedback">Please enter valid input</div>
        </div>

        <div class="mb-3">
          <p>Current Image :</p> 
          <img src="<%=orginalImageUrl%>" alt="Old image"  height="80rem" width="200rem">
        </div>
        <div class="mb-3">
          <label class="fom-label" for="image">Upload New Image</label>
          <input class="form-control" name="listing[image]" type="file">
        </div>

        <div class="row">
          <div class="mb-3 col-md-4">
            <label class="fom-label" for="price">Enter Price per day</label>
            <input class="form-control" name="listing[price]" value="<%=listing.price%>" type="number"  required/>
            <div class="invalid-feedback">Please enter valid input</div>
          </div>
          <div class="mb-3 col-md-8">
            <label class="fom-label" for="country">Country</label>
            <input class="form-control" name="listing[country]" value="<%=listing.country%>" type="text"  required/>
            <div class="invalid-feedback">Please enter valid input</div>
          </div>
        </div>
        <div class="mb-3">
          <label class="fom-label" for="location">Location</label>
          <input class="form-control" name="listing[location]" value="<%=listing.location%>" type="text"  required/>
          <div class="invalid-feedback">Please enter valid input</div>
        </div>
        <button class="btn btn-danger">Add</button>
      </form>
    </div>

  </div>